<h1>Lista de Asignaciones</h1>
<div class="container">
    <a href="/asignaciones/agregar " class="btn btn-success">Agregar Asigancion</a>
<div class="row ">


    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">PROFESOR</th>
              <th scope="col">ESTUDIANTE</th>
              <th scope="col">N° DE SALON</th>
              <th scope="col">COMPETENCIA</th>
              <th scope="col">MATERIA</th>
              <th scope="col">HORARIO</th>
              <th scope="col">ESTADO</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let item of listaAsignaciones">
              <td>{{item.nombre_profesor}}</td>
              <td>{{item.nombre_estudiante}}</td>
              <td>{{item.numero_de_aula}}</td>
              <td>{{item.nombre_de_competencia}}</td>
              <td>{{item.nombre_de_materia}}</td>
              <td>{{item.horario}}</td>
              <td>{{item.completado}}</td>
              <td>
                <a href="/asignaciones/editar/{{item.id_asignacion}}" class="btn btn-warning mx-2 imagen-edit"><img src="../../../assets/editar.png" height="30px"> <br>Editar</a>
                <a href="/asignaciones/eliminar/{{item.id_asignacion}}" style="color:black" class="btn btn-danger"><img src="../../../assets/24397ac9b79941a69d928c622d4ea10eRUPHpvRxnb59XB8k-0.png" height="30px"> <br>Eliminar</a>
            
              </td>
                
            </tr>
    
          </tbody>
    </table>
    </div>
</div>




