<div class="container">
    <h2>Agregar un Asignacion</h2>
    <div class="row ">
        <form class="formulario"  [formGroup]="addAsignacionForm" (ngSubmit)="crearEstudiante()">
            <div class="mb-3 ">
                <label class="form-label">Nombre del profesor </label>
                <select  formControlName="id_profesor"  class="form-select" aria-label="Default select example">
                    <option *ngFor=" let profesor of listaProfesor" value="{{profesor.id_profesor}}">{{profesor.nombre_profesor}}</option>
                </select>
                <span [hidden]="addAsignacionForm.pristine">
                    <div *ngIf="addAsignacionForm.controls['id_profesor'].errors && addAsignacionForm.controls['id_profesor'].hasError('required')"
                        class="alert alert-danger mt-1" role="alert">
                        El nombre del profesor es requerido
                    </div>
                </span>
            </div>
            <div class="mb-3">
                <label  class="form-label">Nombre del estudiante </label>
                <select  formControlName="id_estudiante"  class="form-select" aria-label="Default select example">
                    <option *ngFor=" let estudiante of listaEstudiante" value="{{estudiante.id_estudiante}}">{{estudiante.nombre_estudiante}}</option>
                </select>
                <span [hidden]="addAsignacionForm.pristine">
                    <div *ngIf="addAsignacionForm.controls['id_estudiante'].errors && addAsignacionForm.controls['id_estudiante'].hasError('required')"
                        class="alert alert-danger mt-1" role="alert">
                        El nombre del estudiante es requerido
                    </div>
                </span>
            </div>
            <div class="mb-3">
                <label class="form-label">Numero de Salon</label>
                <select  formControlName="id_aula"  class="form-select" aria-label="Default select example">
                    <option *ngFor=" let aula of listaAula" value="{{aula.id_aula}}">{{aula.numero_de_aula}}</option>
                </select>
                <span [hidden]="addAsignacionForm.pristine">
                    <div *ngIf="addAsignacionForm.controls['id_aula'].errors && addAsignacionForm.controls['id_aula'].hasError('required')"
                        class="alert alert-danger mt-1" role="alert">
                        El numero de salón es requerido
                    </div>
                </span>
            </div>
            <div class="mb-3">
                <label  class="form-label">nombre de la Compentencia</label>
                <select  formControlName="id_competencia"  class="form-select" aria-label="Default select example">
                    <option *ngFor=" let compete of listaCompetencia" value="{{compete.id_competencia}}">{{compete.nombre_de_competencia}}</option>
                </select>
                <span [hidden]="addAsignacionForm.pristine">
                    <div *ngIf="addAsignacionForm.controls['id_competencia'].errors && addAsignacionForm.controls['id_competencia'].hasError('required')"
                        class="alert alert-danger mt-1" role="alert">
                        La competencia es requerida
                    </div>
                </span>
            </div>
            <div class="mb-3">
                <label  class="form-label">Nombre de la materia </label>
                <select  formControlName="id_materia"  class="form-select" aria-label="Default select example">
                    <option *ngFor=" let materia of listaMateria" value="{{materia.id_materia}}">{{materia.nombre_de_materia}}</option>
                </select>
                <span [hidden]="addAsignacionForm.pristine">
                    <div *ngIf="addAsignacionForm.controls['id_materia'].errors && addAsignacionForm.controls['id_materia'].hasError('required')"
                        class="alert alert-danger mt-1" role="alert">
                        La materia es requerida
                    </div>
                </span>
            </div>
            <div class="mb-3">
                <label class="form-label">Horario</label>
                <input type="date" formControlName="horario">
                <span [hidden]="addAsignacionForm.pristine">
                    <div *ngIf="addAsignacionForm.controls['horario'].errors && addAsignacionForm.controls['horario'].hasError('required')"
                        class="alert alert-danger mt-1" role="alert">
                        El horario es requerido
                    </div>
                </span>
            </div>
            <div class="mb-3">
                <label  class="form-label">Estado</label>
                <input type="text" class="form-control" formControlName="completado">
                <span [hidden]="addAsignacionForm.pristine">
                    <div *ngIf="addAsignacionForm.controls['completado'].errors && addAsignacionForm.controls['completado'].hasError('required')"
                        class="alert alert-danger mt-1" role="alert">
                        El estado es requerido
                    </div>
                </span>
            </div>
            <button [disabled]="addAsignacionForm.invalid"  type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>


